body{
    margin: 0px 0px;
    line-height: 1.5;
}

.card{
    margin: 0 15%;
    text-align: center;
    font-weight: 150%;
}
.col-md-12{
    background-color: #fddca5;
    font-family: 'Satisfy', cursive;
}
.col-md-3,
.col-md-6{
    margin-bottom: 20px;
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
}

header{
    margin: 25px 25px;
}
h1{
    text-align: center;
}

footer,
h4 {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    background-color:#fddca5 ;
    width: 100%;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 25px 0px 25px 0px;
    
    
}
h5{
    margin: 0px;
    padding: 10px 0px;
}

#btn15,
#btn17,
#btn20,
#btncalculate{
    color: white;
    background-color: #00bc7d;
    border: solid 0.1px #0101af;
    text-decoration: none;
    font-size: 20px;
}
#customTip,
#billAmount{
    text-align: center;
    font-size: 20px;
}
#info{
    text-align: center;
    font-family: 'Satisfy', cursive;
}