body{
    margin: 0px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif
}
.card{
    margin: 2px;
    text-align: center;
    font-weight: 150%;
}
.col-md-12{
    background-color: #e4f9ff;
}
.col-md-3,
.col-md-6{
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.billHead{
    font-size:20px;
}
header{
    margin: 25px 25px;
}
h1{
    text-align: center;
}

footer {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 25px 0px;
    font-size:25px;
}

#btn15,
#btn17,
#btn20,
#btncalculate,
#btnclear{
    color: white;
    background-color: #00bc7d;
    border: solid 0.1px #0101af;
    text-decoration: none;
}
#customTip,
#billAmount{
    text-align: center;
    font-size: 16px;
    padding: 8px 0px;
}
#resultInfo{
    padding-top: 10px;
}
#info{
    text-align: center;
    padding: 0px 50px;
    text-justify: center;
}
@media screen and (max-width:768px) {
    #info{
        text-align: center;
        padding: 0px 10px;
    }
}
#tipAmount,
#total{
    font-size:18px;
}
#footerYear{
    font-size:12px;
}